version: '3.9'
services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: asalbaca
      POSTGRES_DB: biometric_core
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    restart: unless-stopped
    ports:
      - '6380:6379'
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
